body {
    font-family: tahoma;
    background-color: #9DB59B;
    padding: 0;
    margin: 0;
  }


.titlePage{    
    width: 60%;
    background-color: #FFFFFF;
    padding: 12px;
    text-align: center;
}


.navBar{
    background-color: #9DB59B;
    margin-bottom: 10px;
    
}

.navBar img{
    display: flex;
    margin: 0 auto;
    width: 10%;
}

.listNav{
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: #947474;
    padding: 8px;
    
}

.listNav a{
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none; 
    
}



footer section{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2em;
    background: rgb(157,181,155);
    background: linear-gradient(90deg, rgba(157,181,155,1) 0%, rgba(116,87,155,1) 100%);
}

footer img{
    width: 10%;
}

footer section div ul{
    display: flex;
    flex-direction: column;
}


footer i{
    font-size: 40px;
}

.listNavFooter{
  list-style: none;
  padding: 8px;
}

.listNavFooter a{
  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none; 
  
}








#indexMain{
    background-color: red;
    
}

#infoFormation{
    background-color: #9DB59B;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;

}

#interviewProgram{
    background-color: red;
    width: 50%;
    height: 400px;
}

#detailFormation{
    background-color: #FFFFFF;
    margin-top: 15px;
    padding: 25px;
}



/*------ GRAINE DE TALENT ------*/
/*------ GRAINE DE TALENT ------*/
/*------ GRAINE DE TALENT ------*/


  .center {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
  .wrapper {
    display: flex;
    grid-gap: 1em;
    overflow: hidden;
    width: 55em;
  }
  .wrapper > .inner {
    display: flex;
    grid-gap: 1em;
    transition: all 1s ease-in-out;
  }
  .card {
    border-radius: 0.5em;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    
  }
  .card > img {
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    display: block;
    width: 17.5em;
  }
  .card > .content {
    background: #0a2640;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    padding: 1em;
    text-align: center;
  }
  .card > .content > h1, .card > .content > h3 {
    margin: 0.35em 0;
  }
  .card > .content > h1 {
    color: #fff;
    font-size: 1.25rem;
    line-height: 1;
  }
  .card > .content > h3 {
    color: #ccc;
    font-size: 0.9rem;
    font-weight: 300;
  }
  .map {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .map > button {
    all: unset;
    background: #11406c;
    cursor: pointer;
    margin: 0 0.125em;
    position: relative;
    user-select: none;
    border-radius: 100%;
    height: 1em;
    width: 1em;
  }
  .map > button.active:after {
    background: #001d38;
    content: "";
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    border-radius: 100%;
    height: 0.5em;
    width: 0.5em;
  }
  
  .pp{
    width: 17.5em;
    height: 18em;
  }


/*------ Profil ------*/
/*------ Profil ------*/
/*------ Profil ------*/

.allContent{
  width: 50%;
    
  margin: 0 auto;
  align-items: center;
  text-align: center;
  margin-bottom: 2em;
  line-height: 1.5;
}

.allContent div{
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border: 5px solid black;
  margin-top: 2em;
}

.allContent .photo{
  width: 20%;
  margin: 0 auto;
  margin-top: 2em;
}

.cv{
  width: 200px;
  margin: 0 auto;
  padding: 15px;
  font-size: 1.5em;
}



figure {
  background: #d6d6d6;
  padding: 25px 60px;
}
blockquote {
  position: relative;
  margin: 0 0 20px;
}
blockquote p {
  margin: 0;
}
blockquote:before {
  position: absolute;
  top: 0;
  left: -45px;
  content: "\f10d";
  font-family: 'Fontawesome';
  font-size: 40px;
  color: #999;
}

figcaption {
  position: relative;
  text-align: right;
}
figcaption:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #141414;
}
figcaption span {
  display: inline-block;
  position: relative;
  margin-right: 40px;
  padding: 0 8px;
  background: #d6d6d6;
  z-index: 1;
}





/*------ Galerie Photo ------*/
/*------ Galerie Photo ------*/
/*------ Galerie Photo ------*/

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}



.container {
	margin: 0 auto;
	max-width: 700px;
	max-height: 100vh;
	background-color: white;
}


/* Useful Classes */
.xy-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.transition {
	transition: all 350ms ease-in-out;
}

.r-3-2 {
	width: 100%;
	padding-bottom: 66.667%;
	background-color: #ddd;
}

.image-holder {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

/* Main Styles */
.gallery-wrapper {
	position: relative;
	overflow: hidden;
}

.gallery {
	position: relative;
	white-space: nowrap;
	font-size: 0;
}

.item-wrapper {
	cursor: pointer;
	width: 23%; /* arbitrary value */
	display: inline-block;
	background-color: white;
}

.gallery-item { opacity: 0.5; }
.gallery-item.active { opacity: 1; }

.controls {
	font-size: 0;
	border-top: none;
}
.move-btn {
	display: inline-block;
	width: 50%;
	border: none;
  color: #ccc;
	background-color: transparent;
	padding: 0.2em 1.5em;
}
.move-btn:first-child {border-right: none;}
.move-btn.left  { cursor: w-resize; }
.move-btn.right { cursor: e-resize; }

